!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title= current_page.data.title || 'React Middleman Example'
    %meta{ name: 'author', content: 'Sean Eshbaugh' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no' }
    %link{ href: '//fonts.googleapis.com/css?family=Raleway:400,300,600', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'screen', media: 'screen'
    = javascript_include_tag 'all'
  %body{ class: page_classes }
    = yield
